.health-record-title{
  border-bottom: 1px solid #ccc;
}

.health-record-item{
  background: white;
  display: inline-block;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.1);
  height: 152px;
}

.ellipsis{
  top: 10px;
  right: 10px;
}

.record-action{
  top: 20px;
  right: 20px;
  span{
    cursor: pointer;
  }
}

.btn-create-health-record{
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: #d3368a;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
