.notification-header{
  font-size: 14px;
  position: relative;
}

.notification-content{
  width: 200px;
  z-index: 5;
  position: absolute !important;
  top: 48px;
  left: -82px;
}

.dot-notify{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 0;
  left: 15px;
}
