.avatar-doctor{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.doctor-item{
  box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,.09);
  border-radius: 8px;
}

.btn-medical-examination{
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50% !important;
}

.doctor-filter{
  select{
    width: 200px;
  }
}
