.message-list{
  height: calc(100vh - 180px);
  overflow-y: scroll;
  padding-top: 80px;
  position: relative;
}

.chatbox{
  position: relative;
  height: calc(100vh - 75px);
  border-right: 1px solid #ccc;
}

.wish{
  background: #d3368a;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}

.wish + div{
  display: none;
}

.wish:hover + div{
  display: inline-block;
  background: #d3368a;
  font-size: 14px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
  p{
    margin: 0;
  }
}
