.message-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dsession-info-header{
  background: #32315c;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 16px;
}

