.notification-list{
  top: 60px;
  z-index: 100;
  right: 15px;
  border-radius: 5px;
  border-width: 1px;
  border-color: transparent #f7f7fa #f7f7fa;
  width: 350px;
  box-shadow: 0 5px 8px 0 rgba(82,77,148,.15);
  background: white;
  max-height: 400px;
  overflow-y: scroll;
}

.notification-message{
  box-shadow: 0 2px 5px 0 rgba(82,77,148,.2);
  border-radius: 12px;
  cursor: pointer;
}

.dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.is_seen{
  background: #ececec;
}
