.doctor-title{
  background: #d3368a;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  a{
    text-decoration: none;
    color: white;
  }
}

.doctor-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.doctor-name{
  font-size: 20px;
}

.doctor-section-title{
  font-size: 18px;
  color: #282c34;
  text-transform: uppercase;
  font-weight: bold;
}
