.dsession-list-chat{
  .section-head{
    font-size: 16px;
    font-weight: 700;
    background: #32315c;
    color: white;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .section-list{
    height: calc(100vh - 130px);
    overflow-y: scroll;
    border-right: 1px solid #ccc;
  }
}
