.register-body{
  >div{
    border-radius: 8px;
    height: calc(100vh - 120px);
  }
}
.register-form{
  width: 460px;
  box-shadow: 0 0 10px 0 rgba(82,77,148,.25);
  height: auto;
  border-radius: 4px;
}
