.btn-buy-medicine{
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #d3368a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
