.patient-item{
  border-radius: 4px;
  background: #f2f2f2;
  cursor: pointer;
  height: 104px;
  .avatar-patient{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .patient-seen-last{
    width: 20px;
    height: 20px;
  }
  .action button{
    border-radius: 50px;
    width: 120px;
  }
}

.patient-select{
  background: #b3b3b3;
}
