.user-menu{
  width: 380px;
  top: 60px;
  z-index: 10000;
  right: 15px;
  border-radius: 12px;
  border: 1px solid #f7f7fa;
}
.user-menu-top{
  border-bottom: 1px solid #ccc;
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}
