$pink: #d3368a;
$violet: #32315c;
$gray: #f7f7fa;

.bg-gray{
  background: $gray;
}
.bg-pink{
  background: $pink;
}
.bg-violet{
  background: $violet;
}


.text-violet{
  color: $violet;
}
.text-pink{
  color: $pink;
}
