.chat-form{
  position: fixed;
  width: 703px;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #ccc;
  input[type="text"]{
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: #eeeeee;
    padding: 5px;
  }
  input[type="file"]{
    width: 34px;
    left: 52px;
    opacity: 0;
  }
  svg{
    font-size: 28px;
  }
}

.modal-90w{
  max-width: 1000px !important;
}
