.login-area{
  position: relative;
  //background: url("../../assets/images/bg.jpg");
  img{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
  }
}
.login{
  background: white;
  position: absolute;
  top: 250px;
  right: 80px;
  width: 400px;
  border: 1px solid #ccc;
}
