.chat-box{
  position: relative;
  border-right: 1px solid #cccccc;
  height: 100%;
  .message-list{
    padding-top: 80px;
    height: calc(100vh - 150px);
    overflow-y: scroll;
  }
  .appointment{
    background: #d3368a;
    color: white;
    display: inline-block;
    border-radius: 50px;
    padding: 5px ;
    cursor: pointer;
    z-index: 4;
  }
  .appointment+div{
    background: #d3368a;
    display: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    top: 35px;
    left: 0;
    z-index: 3;
    width: 150px;
  }
  .appointment:hover+div{
    display: inline-block;
  }
}
