.menu{
  height: calc(100vh - 62.5px);
  border: 1px solid #ccc;
  overflow: hidden;
}

.menu-item{
  border-bottom: 1px solid #ccc;
}

.menu-item-active{
  background: #e5e5e5;
}

.menu-icon{
  font-size: 24px;
}
