.chat-form{
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 15px);
  border-radius: 0 0 0 8px;
  input[type="text"]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input[type="file"]{
    font-size: 14px;
    left: 15px;
    top: 7px;
    opacity: 0;
  }
}
