.message-content{
  background: #f1f0f0;
  border-radius: 8px;
  display: inline-block;
  img{
    width: 100%;
  }
}
.avatar-friend{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  object-fit: cover;
}
