.chat-header{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  position: absolute;
  top: 0;
  z-index: 1;
  width: calc(100% + 15px);
  background: white;
  .video-call{
    width: 35px;
    height: 35px;
    border: 1px solid #282c34;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }
}
