.header{
  .brand img{
    width: 200px;
  }
}

.notification-own{
  cursor: pointer;
}

.notify-count{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.user{
  cursor: pointer;
}
