.header{
  box-shadow: 0 5px 9px -9px rgba(0,0,0,.64);
  -webkit-box-shadow: 0 5px 9px -9px rgba(0,0,0,.64);;
}

.brand{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 20px;
  span:nth-child(1){
    color: #32315c;
  }
  span:nth-child(2){
    color: #d3368a;
  }
}
