.dsession-chat-item{
  a{
    text-decoration: none;
    color: black;
    &:hover{
      text-decoration: none;
      color: black;
    }
  }
  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  border: 1px solid #ccc;
  .doctor-name{
    font-size: 16px;
    font-weight: bold;
  }
  .last-message{
    font-size: 14px;
  }
}
.active-item{
  background: #e7e7e7;
}
